body {
    font-family: 'Roboto', sans-serif;
}

.searchHead {
    font-weight: bold;
    font-size: x-large;
    margin-right: 0;
}

.form-control {
    float: left;
}

.btn {
    float: left;
}

.card {
    float: right;
    width: 100%;
    margin-top: 30px;
}

.history {
    float: left;
}

.low {
    background-color: green;
    color: white;
    padding: 5px;
}

.moderate {
    background-color: yellow;
    color: black;
    padding: 5px;
}

.high {
    background-color: darkorange;
    color: black;
    padding: 5px;
}

.veryHigh {
    background-color: red;
    color: white;
    padding: 5px;
}

.extreme {
    background-color: purple;
    color: white;
    padding: 5px;
}

#fiveHeader {
    font-size: large;
    font-weight: bolder;
}

.list-group {
    cursor: pointer;
}